<div class="ui container">
    <h1 class="ui center aligned header">All {{include.scopeName}}</h1>
    {%- for post in include.scope -%}
        {%- assign date_format = site.date_format | default: "%b %e, %Y" -%}
        {% assign currentDate = post.date | date: "%Y" %}
        {% if currentDate != myDate %}
            {% unless forloop.first %}</div>{% endunless %}
            <h2 class="ui header">{{ currentDate }}</h2>
            <div class="ui items">
            {% assign myDate = currentDate %}
        {% endif %}
        <div class="item">
            {%- if post.image -%}
                <div class="image"><img src="{{post.image}}" alt=""></div>
            {%- endif -%}
            <div class="content">
                <a href="{{ post.url }}" class="header">{{post.title | escape}}</a>
                <div class="meta">{{post.date | date: date_format }}</div>
                <div class="description">{{post.excerpt}}</div>
            </div>
        </div>
        {% if forloop.last %}</div>{% endif %}
    {%- endfor -%}
</div>
