<footer class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="mailto:{{site.email}}" class="item">Contact Us</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Elsewhere</h4>
                <div class="ui inverted link list">
                    {%- if.site.social.medium -%}<a href="{{site.social.medium | prepend "https://medium.com/"}}" class="item">Medium</a>{%- endif -%}
                    {%- if site.social.newsletter -%}<a href="{{site.social.newsletter}}" class="item">Newsletter</a>{%- endif -%}
                    {%- if site.twitter.username -%}<a href="{{site.twitter.username | prepend: "https://twitter.com/"}}" class="item">Twitter</a>{%- endif -%}
                    {%- if site.social.youtube -%}<a href="{{site.social.youtube}}" class="item">Youtube</a>{%- endif -%}
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Our lawyer made us write this</h4>
                <p>{{site.footer_legal_note}}</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="text/javascript">
    $('.dropdown').dropdown();
    {%- if page.collection == "posts" -%}
        $(function () {
        var txt = $(".ui.text.container")[0].textContent,

        wordCount = txt.replace( /[^\w ]/g, "" ).split( /\s+/ ).length;

        var readingTimeInMinutes = Math.floor(wordCount / 228) + 1;
        var readingTimeAsString = readingTimeInMinutes + " min";

        $('article .reading-time').html(readingTimeAsString);
        });
    {%- endif -%}
</script>
