<header class="ui inverted vertical masthead center aligned segment homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop muted playsinline class="fillWidth">
            <source src="{{ "/assets/video/Office-Day/WEBM/Office-Day.webm" | relative_url }}" type="video/webm">
            <source src="{{ "/assets/video/Office-Day/MP4/Office-Day.mp4" | relative_url }}" type="video/mp4">
        </video>
    </div>
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item"><i class="sidebar icon"></i></a>
            {%- include active_link.html context=page href="" title="Home" -%}
            {%- include active_link.html context=page href="archives/posts" title="News" -%}
            {%- include active_link.html context=page href="#testimonials" title="Testimonials" -%}
            {%- include active_link.html context=page href="archives/videos" title="Videos" -%}
            {%- include active_link.html context=page href="archives/demos" title="Demos" -%}
            {%- include active_link.html context=page href="#charte" title="Charte" -%}
            <div class="right item">
                <a href="" class="ui inverted button"><i class="icon lock"></i> Candidate Dashboard</a>
            </div>
        </div>
        {%- if page.url == site.baseurl -%}
        <div class="ui text container hero">
            <h1 class="ui inverted header">{{site.title}}</h1>
            <h2 class="ui inverted header">{{page.intro_headline}}</h2>
            <p>{{page.intro_text}}</p>
            <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        </div>
        {%- endif -%}
    </div>
</header>
