<header class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item"><i class="sidebar icon"></i></a>
            <a href="{{site.url}}" class="active item">Home</a>
            <a href="" class="item">Videos</a>
            <a href="" class="item">Pictures</a>
            <a href="" class="item">Slides</a>
            <div class="right item">
                <a href="" class="ui inverted button">Item 4</a>
                <a href="" class="ui inverted button">Item 5</a>
            </div>
        </div>
        {%- if page.url == site.baseurl -%}
        <div class="ui text container">
            <h1 class="ui inverted header">{{site.title}}</h1>
            <h2>{{page.intro_headline}}</h2>
            <p>{{page.intro_text}}</p>
            <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        </div>
        {%- endif -%}
    </div>
</header>
