<header class="ui inverted vertical masthead center aligned segment homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop muted playsinline class="fillWidth">
            <source src="{{ "/assets/video/Office-Day/WEBM/Office-Day.webm" | relative_url }}" type="video/webm">
            <source src="{{ "/assets/video/Office-Day/MP4/Office-Day.mp4" | relative_url }}" type="video/mp4">
        </video>
    </div>
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item"><i class="sidebar icon"></i></a>
            <a href="{{site.url}}" class="active item">Home</a>
            <a href="{{ site.baseurl }}archives/posts" class="item">News</a>
            <a href="#testimonials" class="item">Testimonials</a>
            <a href="{{ site.baseurl }}archives/videos" class="item">Videos</a>
            <a href="{{ site.baseurl }}archives/demos" class="item">Demos</a>
            <a href="#charte" class="item">Charte</a>
            <div class="right item">
                <a href="" class="ui inverted button"><i class="icon lock"></i> Candidate Dashboard</a>
            </div>
        </div>
        {%- if page.url == site.baseurl -%}
        <div class="ui text container hero">
            <h1 class="ui inverted header">{{site.title}}</h1>
            <h2 class="ui inverted header">{{page.intro_headline}}</h2>
            <p>{{page.intro_text}}</p>
            <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        </div>
        {%- endif -%}
    </div>
</header>
