$coral: #ff8055;
$ultramarine-blue: #3b72ff;
$romance: #ffffff;
$vulcan: #19171b;
$rajah: #ffaa63;
$mountain-meadow: #26bc94;
$algae-green: #8ee9a9;
$electric-crimson: #ff0444;
$geraldine: #ff8089;
$medium-slate-blue: #6375e9;
$perano: #aeb5e9;
$sunglow: #ffc932;
$corn: #ffeb5d;

$primary: $ultramarine-blue;
$secondary: $coral;
$secondary-alt: $rajah;
$success: $mountain-meadow;
$success-alt: $algae-green;
$error: $electric-crimson;
$error-alt: $geraldine;
$warning: $sunglow;
$warning-alt: $corn;
