---
---
@import "colors";

$header-font: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;

body{
    font-family: $body-font;
}
a {
    color: $secondary;
    &:hover{
        color: $secondary-alt;
    }
}
.ui.list>.item a.header {
    color: $mountain-meadow !important;
    transition: color .2s;
    &:hover{
        color: $algae-green !important;
        transition: color 0.2s;
    }
}

.hero{
    padding: 2em 0;
}
.ui{
    &.button{
        font-family: $header-font;
    }
    &.header,h1,h2,h3,h4,h5,h6{
        font-family:  $header-font;
        font-weight: 300;
        font-style: normal;
        &:not(.inverted){
            color: $primary;
        }
    }

}
@each $heading,$size in (h1,3em),(h2,2em),(h3,1.8em){
    #{$heading}.ui.header {
        font-size: $size;
    }
}

// Background video
//

.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
    .ui.container{
        z-index: 200;
    }
}
.no-video {
	.video-container {
		video {
			display: none;
		}
	}
}
.touch {
	.video-container {
		video {
			display: none;
		}
	}
}
.video-container {
	position: absolute;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
	.filter {
		z-index: 100;
		position: absolute;
		background: rgba(0, 0, 0, 0.4);
		width: 100%;
        height: 100%;
	}
	video {
		position: absolute;
		z-index: 0;
		bottom: 0;
        left:0;
	}
	video.fillWidth {
		width: 100%;
	}
    &~div{
        position:inherit;
        .ui.secondary.inverted.pointing.menu{
            border:none;
        }
    }
}
#news{
    article h3 a{
        color: $primary;
    }
    .container{
        margin-bottom: 2em;
    }
}
// posts single page
body > .container{
    margin: 2em auto;
    .container{margin-bottom: 2em;}
}
#posts,
#videos,
#demos,
#archive{
    .sub.header{
        margin:1em auto;
        .label:first-of-type{
            margin-left: 0;
        }
    }
    .items>.item>.content>.header{color:$secondary}
    article .image:not(.card .image){margin-bottom: 1em;}
    article .grid{margin-bottom:0}
    .teal:not(i):not(.statistic){background-color: $mountain-meadow !important}
    .blue:not(i):not(.statistic){background-color: $medium-slate-blue !important}
    .label{margin-top:.5em;}
}
