---
layout: default
---
{%- if site.videos.size > 0 -%}
<section class="ui basic segment" id="videos">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="wide column">
                <h2 class="ui horizontal divider header">
                    Videos
                </h2>
                <div class="ui link two column cards">
                    {%- for video in site.videos -%}
                        <a class="ui card" href="{{_permalink}}" title="{{video.title}}">
                            {%- if video.youtube_url -%}
                            <span class="image">
                                {%- youtube video.youtube_url -%}
                            </span>
                            {%- else -%}
                                {% if video.image %}
                                <div class="image">
                                    <img src="{{video.image}}" title="{{video.description | prepend: "picture of"}}"/>
                                </div>
                                {% endif %}
                            {%- endif -%}
                            <div class="content">
                                <div class="header">{{video.title}}</div>
                                <div class="description">{{video.description | truncate: 120}}</div>
                            </div>
                            <div class="ui bottom attached button">
                                <i class="eye icon"></i>
                                Details
                            </div>
                        </a>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>
{%- endif -%}
{%- if site.galleries.size > 0 -%}
<section class="ui basic segment" id="galleries">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="wide column">
                <h2 class="ui horizontal divider header">
                    Photos Galleries
                </h2>
                <div class="ui cards">
                    {%- for gallery in site.galleries -%}
                        <div class="ui card" href="{{_permalink}}" title="{{gallery.title}}">
                            {%-if gallery.image -%}
                                <div class="image">
                                    <img src="{{gallery.image}}" title="{{gallery.description | prepend: "picture of"}}"/>
                                </div>
                            {%- endif -%}
                            <div class="content">
                                <div class="header">{{gallery.title}}</div>
                                <div class="description">{{gallery.description | truncate: 120}}</div>
                            </div>
                            <div class="ui bottom attached button">
                                <i class="eye icon"></i>
                                Details
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>
{%- endif -%}
{%- if site.demos.size > 0 -%}
<section class="ui basic segment" id="demos">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="wide column">
                <h2 class="ui horizontal divider header">
                    Demos
                </h2>
                <div class="ui three column cards">
                    {%- for demo in site.demos -%}
                        <div class="ui card" href="{{_permalink}}" title="{{demo.title}}">
                            {%-if demo.image -%}
                                <div class="image">
                                    <img src="{{demo.image}}" title="{{demo.description | prepend: "picture of"}}"/>
                                </div>
                            {%- endif -%}
                            <div class="content">
                                <div class="header">{{demo.title}}</div>
                                <div class="description">{{demo.description | truncate: 120}}</div>
                            </div>
                            <div class="ui bottom attached button">
                                <i class="eye icon"></i>
                                Details
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>
{%- endif -%}
{%- if site.data.logos -%}
<section class="ui basic segment" id="charte">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="wide column">
                <h2 class="ui horizontal divider header">
                    Charte
                </h2>
                <p>{{page.charte.description}}</p>
                <h3 class="ui header">Logo</h4>
                <div class="ui cards">
                    {%- for logo in site.data.logos -%}
                    <div class="ui card">
                        {%- assign image = logo.downloads[0].files -%}
                        <div class="image"><img src="{{image | last}}" alt="Smile Innovation badge"></div>
                        <div class="content">
                            <div class="header">{{logo.title}}</div>
                            <div class="description">{{logo.description}}</div>
                        </div>
                        <div class="extra content">
                            <div class="ui labeled icon dropdown button">
                                <i class="download icon"></i>
                                <div class="text">Download</div>
                                <div class="menu">
                                    {%- for download in logo.downloads -%}
                                    <div class="item">
                                        <i class="dropdown icon"></i>{{ download.title | escape}}
                                        <div class="menu">
                                            {%- for file in download.files -%}
                                            {%- assign ext = file | split:"." -%}
                                            <a href="{{file}}" class="item">{{ext.last | upcase}}</a>
                                            {%- endfor -%}
                                        </div>
                                    </div>
                                    {%- endfor -%}
                                </div>
                            </div>
                        </div>
                    </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>
{%- endif -%}
{%- comment -%}
<section class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">We Help Companies and Companions</h3>
                <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
                <h3 class="ui header">We Make Bananas That Can Dance</h3>
                <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
            </div>
            <div class="six wide right floated column">
                <img src="https://source.unsplash.com/random/800x600" class="ui large bordered rounded image">
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a class="ui huge button">Check Them Out</a>
            </div>
        </div>
    </div>
</section>
{%- endcomment -%}
{%- if site.quotes.size > 0 -%}
<section class="ui vertical stripe quote segment" id="testimonials">
    <h2 class="ui horizontal divider header">
        Testimonials
    </h2>
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            {%- for quote in site.quotes -%}
                <div class="column">
                    {%- if quote.title -%}
                        <h2>{{quote.title}}</h2>
                        <p>{{quote.content}}</p>
                    {%- else -%}
                        <h2>{{ quote.content }}</h2>
                    {%- endif -%}
                    <img src="{{quote.author.image | default: "https://source.unsplash.com/200x200/?people"}}" class="ui avatar image"> <b>{{quote.author.name}}</b> {{quote.author.title}} {{quote.author.company}}
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>
{%- endif -%}
<section class="ui basic segment">
    <div class="ui text container">
        <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
        <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your
            attention.</p>
        <a class="ui large button">Read More</a>
        <h4 class="ui horizontal header divider">
            <a href="#">Case Studies</a>
        </h4>
        <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
        <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
        <a class="ui large button">I'm Still Quite Interested</a>
    </div>
</section>
