---
layout: default
---
{%- if page.youtube_url -%}
<aside class="ui container video">
 {% youtube page.youtube_url %}
</aside>
{%- endif -%}
<article class="ui text container h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="ui header">
        <span class="p-name" itemprop="name headline">{{page.title | escape}}</span>
        <div class="sub header">
            <div class="ui teal label">
                {{page.category | default: "News" | escape}}
                <div class="detail"><i class="icon folder"></i></div>
            </div>
            {%- if page.tags.size > 0 -%}
            <div class="ui blue label">
                {% for tag in page.tags %} {{tag | prepend: "#" | append: " "}} {% endfor %}
                <div class="detail"><i class="icon tags"></i></div>
            </div>
            {%- endif -%}
            {% if page.author %}
            <a class="ui label" href="{{ site.data.authors[page.author].twitter | prepend: "https://twitter.com/"}}">
                {{site.data.authors[page.author].twitter | prepend : "@"}}
                <div class="detail"><i class="icon blue twitter"></i></div>
            </a>
            {% endif %}
            <div class="ui label">
                {%- assign date_format = site.date_format | default: "%b %e, %Y" -%}
                {{page.date | date: date_format}}
                <div class="detail"><i class="icon calendar"></i></div>
            </div>
             <div class="ui label">
                 <span class="reading-time">...</span>
                 <div class="detail"><i class="icon hourglass half"></i></div>
             </div>
        </div>
    </h1>
    {% if page.image %}
    <img src="{{page.image}}" alt="" class="ui rounded image">
    {% endif %}
    <div class="e-content" itemprop="articleBody">
        {% if page.description %}
        {{page.description | escape}}
        {% endif %}
        {{content}}
    </div>
</article>

{% if page.attachments %}
<section class="ui text container">
    <h3 class="ui header">Attachment(s)</h3>
    <div class="ui list">
        {% for attachment in page.attachments %}
        <div class="item">
            <i class="file {{attachment.type}} outline icon"></i>
            <div class="content">
                <a href="{{attachment.file}}" class="header">
                    {{attachment.name}}
                </a>
                <div class="description">{{attachment.type | capitalize}} document</div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
<div class="ui text container">
    <div class="ui right aligned grid">
        {% if page.next.url %}
        <div class="left floated left aligned height wide column">
            <a class="ui basic button" href="{{page.next.url}}">
                <i class="icon arrow left"></i> {{page.next.title}}
            </a>
        </div>
        {% endif %}
        {% if page.previous.url %}
        <div class="right floated right aligned height wide column">
            <a class="ui basic button" href="{{page.previous.url}}">
                {{page.previous.title}} <i class="icon arrow right"></i>
            </a>
        </div>
        {% endif %}
    </div>
</div>
